Package: com.captainpoprocks.cleanmusic
Name: CleanMusic
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Captain Poprocks
Author: Captain Poprocks
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 120
