Package: com.captainpoprocks.nosquaremode
Name: NoSquareMode
Depends: mobilesubstrate
Version: 0.1.1
Architecture: iphoneos-arm
Description: Disables square mode in camera app.
Maintainer: Captain Poprocks
Author: Captain Poprocks
Section: Tweaks

