Package: com.captainpoprocks.cleanmusic
Name: CleanMusic
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Captain Poprocks
Author: Captain Poprocks
Section: Tweaks
