Package: com.captainpoprocks.UnlockTextCustomizer
Name: UnlockTextCustomizer
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Captain Poprocks
Author: Captain Poprocks
Section: Tweaks
