Package: com.captainpoprocks.nosquaremode
Name: NoSquareMode
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disables square mode in camera app.
Maintainer: Captain Poprocks
Author: Captain Poprocks
Section: Tweaks
Version: 0.1.0-1+debug
Installed-Size: 248
