Package: com.captainpoprocks.cortanaring
Name: Cortana Ring for Lockglyph
Version: 1.0
Section: Themes
Maintainer:
Depends:
Architecture: iphoneos-arm
Description: A Cortana style lockglyph
Author: Captain Poprocks
Sponsor:
