Package: com.captainpoprocks.noswitcherblur
Name: NoSwitcherBlur
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disables wallpaper blur in the app switcher
Maintainer: Captain Poprocks
Author: Captain Poprocks
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 120

